.road-niuniu {

  --desk-niuniu-title-bg: #79bbff;
  --desk-niuniu-layout-border-bg: #bcdeff;
  --desk-niuniu-content-bg: linear-gradient(#96c0fd, #b3d9ff);
  --desk-niuniu-master-bg: #4455cb;
  --desk-niuniu-count-bg: #b3d9ff;
  --desk-niuniu-item-bg: #d6f0ff;
  --desk-niuniu-master-color: #4455cb;
  --desk-niuniu-item-gradient-color: #000000;
  --desk-niuniu-item-gradient-bg: linear-gradient(#ffffff, #d1edfe);


  --desk-niuniu-layout-border-color: var(--el-color-warning);
  --desk-niuniu-bg-text-color: var(--el-color-white);


  --desk-niuniu-table-info-bg-color: #6474df;
  --desk-niuniu-table-info-text-color: var(--el-color-white);

  --desk-niuniu-table-limit-text-color: #fad304;
  --desk-niuniu-table-limit-bg-color: linear-gradient(#ff0901, #7e0905);

  --desk-niuniu-table-limit-min-bg-color: linear-gradient(#1557fd, #051c4e);
}
