.road-baccarat {
  --desk-baccarat-layout-border-bg: var(--el-color-white);
  --desk-baccarat-layout-border-color: var(--el-color-warning);

  --desk-baccarat-bg-text-color: var(--el-color-white);


  --desk-baccarat-table-info-bg-color: #274984;
  --desk-baccarat-table-info-text-color: #f3d54e;
  --desk-baccarat-table-info-bg-color-2: rgba(39, 73, 132, 0.6);

  --desk-baccarat-table-limit-text-color: #fad304;
  --desk-baccarat-table-limit-bg-color: linear-gradient(#ff0901, #7e0905);

  --desk-baccarat-table-limit-min-bg-color: linear-gradient(#1557fd, #051c4e);
}
