:root {
  --gv-border-radius-mid: 8px;

  --gv-border-radius-big: 16px;

  --gv-command-z-index: 9999;

  --gv-popup-z-index: 2010;

  --gv-box-shadow-right: 2px 0px 4px 0 rgba(0, 0, 0, 0.1);
  --gv-box-shadow-left: -2px 0px 4px 0 rgba(0, 0, 0, 0.1);
  --gv-box-shadow-top: 0px -2px 4px 0 rgba(0, 0, 0, 0.1);
  --gv-box-shadow-bottom: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
